<a href="https://colab.research.google.com/github/alissonufu/Aprendizado/blob/main/ConversaoTextosMaiuscMinusc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Compartilhe o link: https://colab.research.google.com/drive/1TnHuVfpRRA0QSMOm2M3Wf_wwVAOG6hgy?usp=sharing

Endereço do caminho: /content/drive/MyDrive/Colab Notebooks/ConversaoTextosMaiuscMinusc.ipynb

In [1]:
# Importando um conjunto de dados - DataFrame Exemplo dentro do próprio pandas
import pandas as pd

teste_df = pd.util.testing.makeMixedDataFrame()

/usr/local/lib/python3.8/dist-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

In [2]:
teste_df

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [3]:
teste_df['C'].str.upper()
# Comando upper (transforma em maiúscula)
# Dessa forma não se altera a coluna original do conjunto de dados.
# Trata-se apenas de uma cópia da coluna (no caso 'C')

0    FOO1
1    FOO2
2    FOO3
3    FOO4
4    FOO5
Name: C, dtype: object

In [5]:
# Para transformar os dados, é necessário fazer uma atribuição da coluna. Daí agora, passa a ser tudo maiúsculo.
teste_df['C'] = teste_df['C'].str.upper()
teste_df

     A    B     C          D
0  0.0  0.0  FOO1 2009-01-01
1  1.0  1.0  FOO2 2009-01-02
2  2.0  0.0  FOO3 2009-01-05
3  3.0  1.0  FOO4 2009-01-06
4  4.0  0.0  FOO5 2009-01-07

In [9]:
teste_df['C'] = teste_df['C'].str.lower()
# Comando lower (transforma em maiúscula)
# Neste caso, também houve atribuição.
teste_df

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [10]:
teste_df['C'].str.casefold()

0    foo1
1    foo2
2    foo3
3    foo4
4    foo5
Name: C, dtype: object

Para ver outras funções de string do pandas, consulte:
https://pandas.pydata.org/docs/user_guide/text.html

Código abaixo para implementar o Camel Case usando split, join

In [26]:
# Código Python3 para demonstrar o funcionamento de
# converter string para CamelCase (Primeira Maiúscula)
# Usando split() + join() + title() + expressão
 
# inicializando a string 
test_str = 'Python_é_o_melhor_programa_para_programar'
# test_str2 = 'Python é o melhor programa para programar'
test_str2 = 'Eu esqueci de avisar completamente sobre o que devo fazer'
 
# imprimindo string original
print("A string original é : " + str(test_str))
print("A string2 original é : " + str(test_str2))
 
# dividindo sublinhado usando split
temp = test_str.split('_')
temp2 = test_str2.split(' ')
 
# juntando resultado
res = temp[0] + ''.join(ele.title() for ele in temp[1:])
res2 = temp2[0] + ' '  + ' '.join(ele.title() for ele in temp2[1:] )
     
# imprimindo resultado
print("A string modificada pelo método CamelCase é : " + str(res))
print("A string2 modificada pelo método CamelCase é : " + str(res2))

A string original é : Python_é_o_melhor_programa_para_programar
A string2 original é : Eu esqueci de avisar completamente sobre o que devo fazer
A string modificada pelo método CamelCase é : PythonÉOMelhorProgramaParaProgramar
A string2 modificada pelo método CamelCase é : Eu Esqueci De Avisar Completamente Sobre O Que Devo Fazer